.memberPage {
  background-image: url("../../assets/Home.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}


.profileImage {
  width: 450px;
  height: auto;
  border-radius: 10%;
}

.left-side {
  position: relative;
}


.goback-btn {
  top: 25px;
  left: 27px;
  position: absolute;
  width: 10;
  cursor: pointer;
  border-radius: 100%;
  background-color: black;
}

.goback-img {
  border-radius: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.upper-right {
  width: 796px;
  height: 230px;
  background-color: #141414;
  color: white;
  border-radius: 3%;
}

#member-name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 40px;
}

#member-bio {
  padding-top: 50px;
  padding-left: 20px;
  color: #D3D3D3;
}

.lower-right {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 493px;
  background-color: #141414;
  border-radius: 2%;
}

.skillsContainer h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 20px;
  padding-top: 20px;
  color: #0EE7FF;
}

.skillsContainer p {
  padding-left: 20px;
  padding-top: 20px;
  color: #D3D3D3;
  font-weight: bold;
}

.upper-contact {
  display: flex;
  flex-direction: row;
}

.upper-contact {
  font-size: 100px;
  font-weight: bolder;
  color: white;
  padding-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.upper-contact #vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  line-height: 01;
  padding-left: 20px;
}

.github-link {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  width: 100%;
  height: 49%;
  border-radius: 2%;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}